* {
    box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input {
    outline: none;
}

.container {
    max-width: 1050px;
    margin: 0 auto;
    padding: 15px;
}

body {
    font-family: 'Roboto', sans-serif;
}

.header__inner {
    display: flex;
    justify-content: space-between;
}

.basket {
    padding: 2px;
    position: relative;
    /* display:none; */
}


.cart {
    /* width: 250px; */
    top: 50px;
    right: 0;
    position: absolute;
    border: 1px solid grey;
    z-index: 2;
    background-color: grey;
    display: none;
}

.cart__toggle {
    display: block;
}

.cart img {
    max-width: 250px;

}

.slider__inner {
    position: relative;
    max-width: 100%;
    background-image: url(../img/banners/ipad_air_banner.jpg);
    background-position: top;
    /* background-repeat: no-repeat; */
    min-height: 350px;
    background-color: rgb(184, 183, 183);
    background-size: cover;
}



.addButton-slider {
    position: absolute;
    top: calc(50% - 50px);
    left: calc(50% - 70px);
}

.search {
    margin: 20px 0;
}

.search input {
    min-width: 100%;
    border: 1px solid rgb(223, 223, 223);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(163, 163, 163, 0.5);
    padding: 20px 55px;


}

.search__inner {
    position: relative;
}

.search-button {
    position: absolute;
    top: 18px;
    left: 8px;
    border: none;
    background-color: #fff;
    cursor: pointer;
}

.icon-search {
    width: 22px;
}

.icon-filter {
    width: 25px;
    padding: 8px 0;

}

.icon-settings {
    width: 22px;
    padding-top: 3px;
}

.filter-button {
    position: absolute;
    right: 50px;
    top: 10px;
}

.settings-button {
    position: absolute;
    right: 5px;
    top: 10px;
}

.filter-button,
.settings-button {
    width: 40px;
    height: 40px;
    border: 0;
    border-radius: 50%;
    background-color: blue;
    cursor: pointer;

}

.main__section-inner {
    display: flex;
    justify-content: space-between;
}

.main__section-filter {
    width: calc(30% - 15px);
    display: block;
}

.accordionMenu {
    position: sticky;
    top: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    /* max-width: 320px; */
    overflow: hidden;
    box-shadow: 0 0 10px rgb(163 163 163 / 50%);
    border: 1px solid rgb(223, 223, 223);
}


.accordion {
    width: 100%;
    background-color: #EDF3FF;
    color: rgb(100, 100, 100);
    cursor: pointer;
    padding: 18px;
    text-align: left;
    border: none;
    border-bottom: 1px solid rgb(212, 212, 212);
    outline: none;
    transition: 0.3s;
}

.panel__inner {
    line-height: 25px;
    display: flex;
    flex-wrap: wrap;

}

.panel__inner-div {
    margin-right: 10px;

}

.panel__inner-div label {
    margin-left: 2px;
}

.active,
.accordion:hover {
    background-color: rgb(247, 247, 247);
}

.panel {
    color: rgb(100, 100, 100);
    padding: 18px;
    display: none;
    overflow: hidden;
    flex-direction: column;
    border-bottom: 1px solid rgb(212, 212, 212);
}



.lineFromText {
    margin-right: 25px;
}

.lineToText {
    margin-right: 43px;
}

.prod__cards {

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: calc(70% - 15px);
}

.prod__cards-toogle {
    width: auto;
}

.card {
    display: flex;
    flex-direction: column;
    max-width: calc((100% / 2) - 30px);
    border: 1px solid rgb(223, 223, 223);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(163, 163, 163, 0.5);
    margin-bottom: 15px;
}

.topCard__inner {

    max-width: 100%;

    margin: 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 14px 30px;
    text-align: center;
}

.topCard-image {
    overflow: hidden;
    /* padding: 15px; */
    width: 250px;
    height: 250px;
}

.item-image {
    padding: 15px;
    width: 100%;
    /* height: 220px; */
    object-fit: scale-down;
}



.product-name {
    font-size: 20px;
    margin: 0 0 8px;
}

.quantity,
.price {
    margin: 5px;
    color: rgb(117, 117, 117);
    font-size: 16px;

}

.addButton {
    padding: 14px 25px;
    color: rgb(255, 255, 255);
    background-color: rgb(67, 67, 255);
    margin: 10px 0;
    border: 0;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}

.botCard__inner {
    line-height: 25px;
    font-size: 14px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(223, 223, 223);
}

.botCard__inner-left {
    display: flex;
    flex-direction: column;

}

.botCard__inner-right {
    display: flex;
    flex-direction: column;

}

.heard-button {
    position: absolute;
    border: none;
    right: 15px;
    top: 15px;
    background-color: #fff;
    padding: 0;
    cursor: pointer;
}

.icon-heart {
    width: 22px;
}

.modal {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5)
}

.modal__active {
    display: flex;
}

.modal__inner {

    border: 1px solid rgb(179, 179, 179);
    border-radius: 10px;
    display: flex;
    align-items: center;
    background-color: #fff;
    max-width: 60%;
    justify-content: space-evenly;
}


.item__info {
    padding: 15px;
    display: flex;

    flex-direction: column;
    border-left: 1px solid rgb(179, 179, 179);
    border-right: 1px solid rgb(179, 179, 179);
}

.item__info-mainInfo {

    display: flex;
    flex-direction: column;
}

.item__info-mainInfo span+span {
    margin-top: 10px;
}

.item__price {
    text-align: center;
    padding: 15px;
}

.item__price-price {
    font-weight: 700;
    font-size: 25px;
}


@media (max-width: 850px) {
    .card {
        max-width: 100%;
    }

    .main__section-filter {
        width: 55%;
    }

    .prod__cards {
        justify-content: space-around;
    }
}


input {
    border: 0;
    color: rgb(67, 67, 255);
    font-weight: bold;
}